@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
//font-family: 'Permanent Marker', cursive;
@import 'bulma';
@import '~bulma-pageloader';

// .hero-image {
//   // padding-left: 250px;
//   // height: 500px;
//   // width: 800px;
// }

#hero-title {
  // display: flex;
  // justify-content: center;
  font-family: 'Permanent Marker', cursive;
  // font-size: 100px;
  color: black;
}

#hero-subtitle {
  // display: flex;
  // justify-content: center;
  color: darkgreen;
  font-weight: 600;
  // font-size: 30px;
}

#dialogue-box {
  background-color: aliceblue;
  // opacity: 40%;
  border-radius: 5px;
}

#w3wbutton {
  margin-bottom: 10px;
}
#autosuggest {
  padding-top: 10px;
}

// #p-about-discoverly {
//   // display: flex;
//   // justify-content: center;
// }

.pageloader {
  opacity: 0.8;
  font-size: xx-large;
}

.activity-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.footer-title {
  font-family: 'Permanent Marker', cursive;
}

// page content fills 100vh minus the footer and navbar
.full-height-content {
  min-height: calc(100vh - 180px - 44px);
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
