$forestgreen: hsla(121, 41%, 34%, 0.263);
$seagreen: hsla(121, 41%, 34%, 0.263);
$info: $forestgreen;

@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
//font-family: 'Permanent Marker', cursive;
@import 'bulma';
@import '~bulma-pageloader';
@import '~bulma-o-steps';
@import '~bulma-timeline';

.styled-title {
  font-family: 'Permanent Marker', cursive;
}

.about-us {
  color: #ea4aaa;
  background-color: #fdedf6;
  border: 1px solid #ea4aaa;
}

.hero-background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('https://i.imgur.com/ocy6msR.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .cardzz {
    display: inline-block;
  }
}
.is-parent:hover {
  transform: translate3D(-6px, -4px, 0) scale(1);
}

.pageloader {
  opacity: 0.8;
  font-size: xx-large;
}

.activity-icon-large {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.activity-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

// page content fills 100vh minus the footer and navbar
.full-height-content {
  min-height: calc(100vh - 180px - 44px);
}

.timeline-images {
  margin-top: 20px;
  border-radius: 15px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  // top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
