@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
//font-family: 'Permanent Marker', cursive;

.hero-image {
  padding-left: 250px;
  // height: 500px;
  // width: 800px;
}
#hero-title {
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: black;
}

#hero-subtitle {
  display: flex;
  justify-content: center;
  color: darkgreen;
  font-weight: 600;
  font-size: 30px;
}

#p-about-discoverly {
  display: flex;
  justify-content: center;
}

.activity-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.footer-title {
  font-family: 'Permanent Marker', cursive;
}

// page content fills 100vh minus the footer and navbar
.full-height-content {
  height: calc(100vh - 180px - 44px);
}
